.mainDiv{
    border: 2px solid teal;
    width: 400px;
    margin: auto;
    margin-top: 20px;
}
.heading{
    text-align: center;
    color: blue;
    font-size: 20px;
}
.button{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    background-color: skyblue;
}
.button button{
    padding: 10px;
    background-color: aqua;
    font-size: 20px;
}
.button div{
    font-size: 25px;
    color: brown;
}